<div class="d-flex">
  <div class="card mx-auto" style="width: 95%;">
    <div class="card-header" style="text-align: center">
      <h4>Specializacje lekarskie</h4>
    </div>
    <div class="card" style="width: 100%">
      <div class="card-body d-flex ml-4 m-auto" style="width: 80%">
        <form>
          <div class="form-group">
            <div class="input-group">
              <input type="text" placeholder="Wyszukaj specializację..." [(ngModel)]="searchSpecialization" name="text" class="form-control">
            </div>
          </div>
        </form>
        <button class="btn btn-primary btn-sm m-auto mr-lg-1" (click)="onNewSpecializationButtonClick(content)">Dodaj nową specializacji</button>
      </div>
      <div class="card-body d-flex ml-4">
        <table class="table table-striped m-auto" style="width: 80%">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa specializacji lekarskiej</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let specialization of (specializationList | filter: 'name' : searchSpecialization); index as i">
            <th scope="row" style="width: 10%">{{ i + 1 }}</th>
            <td style="width: 85%">{{ specialization.name }}</td>
            <td scope="row"><img class="mr-auto" (click)="clickOnBin(specialization.id)" [src]="image" alt="Bin image" width="20 pt"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Dodawanie nowej specializacji</h5>
  </div>
  <div class="modal-body">
    <form>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Nazwa specializacji</span>
        </div>
        <input type="string" [(ngModel)]="specializationToAdd.name" name="specialization" class="form-control">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="btn btn-secondary m1-auto" (click)="modal.close()">Anuluj</div>
    <div class="btn btn-primary" (click)="addSpecialization(modal)">Dodaj</div>
  </div>
</ng-template>
