<!--The content below is only a placeholder and can be replaced.-->
<div class="row mr-3" style="height: 25pt">
  <button *ngIf="!user || user.role === ''" class="btn btn-primary btn-sm ml-auto" style="height: 22pt" (click)="loginToSystem(content)">Zaloguj</button>
  <p *ngIf="user && user.role != ''" class="ml-auto small mt-2 mr-1">Witaj, {{ user.firstname }} {{ user.surname }} {{ user.role }}</p>
  <button *ngIf="user && user.role != ''" class="btn btn-primary btn-sm" style="height: 22pt" (click)="logOut()">Wyloguj</button>
</div>
<div class="mx-auto bg-white text-white" style="width: 98%;">
  <div style="text-align:center; ">
    <img [src]="image" alt="Welcome image" width="100%" height="100%">
<!--    <br>-->
<!--    <h1>-->
<!--      Welcome to {{ title }}!-->
<!--    </h1>-->
  </div>
</div>
  <div *ngIf="!user" class="container ml-3 mr-3 mb-1" style="height: 2cm; width: 130%">
    <nav class="navbar navbar-light mt-1" style="background-color: #e3f2fd; height: 2cm; width: 130%">
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="">Strona główna</a>
      </li>
          </ul>
        </div>
      </nav>
    </nav>
  </div>
<app-sidebar *ngIf="user" [userID]="user.id" [userType]="user.role"></app-sidebar>
<router-outlet></router-outlet>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title m-auto" id="modal-basic-title" style="text-align: center">Zaloguj</h5>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Login</span>
          </div>
          <input type="string" [(ngModel)]="login" name="login" class="form-control">
        </div>
        <div class="input-group mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Hasło</span>
          </div>
          <input type="password" [(ngModel)]="password" name="password" class="form-control">
          <!--          <ng-number-picker [(ngModel)]="activitiesToEdit.activityPoints" name="number" class="form-control"></ng-number-picker> -->
        </div>
      </div>
    </form>
    <div *ngIf="falseLogin" class="small form-text text-danger">Niepoprawny login lub hasło</div>
  </div>
  <div class="modal-footer">
    <div class="btn btn-secondary m1-auto" (click)="modal.close()">Anuluj</div>
    <div class="btn btn-primary" (click)="logIn(modal)">Zaloguj</div>
  </div>
</ng-template>

