<div class="row">

<div class="mx-auto bg-light text-white" style="width: 95%; height: 35pt">

<div *ngIf="userType === 'recepcjonista'" class="btn btn-outline-info mr-auto" (click)="onPlannerButtonClick()">Terminarz</div>

<div *ngIf="userType === 'recepcjonista'" class="btn btn-outline-info ml-2" (click)="onNewPatientButtonClick()">Dodaj pacjenta</div>

<div *ngIf="userType === 'recepcjonista'" class="btn btn-outline-info ml-2" (click)="onPatientsButtonClick()">Lista pacjentów</div>

<div *ngIf="userType === 'lekarz'" class="btn btn-outline-info ml-2" (click)="onDoctorPlannerButtonClick()">Dodawanie dyżurów</div>

<div *ngIf="userType === 'lekarz'" class="btn btn-outline-info ml-2" (click)="onDoctorAppointmentButtonClick()">Moje dzisiejsze wizyty</div>

<div *ngIf="userType === 'administrator'" class="btn btn-outline-info ml-2" (click)="onEmployeesButtonClick()">Lista pracowników</div>

<div *ngIf="userType === 'administrator'" class="btn btn-outline-info ml-2" (click)="onOfficesButtonClick()">Lista gabinetów</div>

<div *ngIf="userType === 'administrator'" class="btn btn-outline-info ml-2" (click)="onSpecializationsButtonClick()">Lista specjalizacji</div>

  <div *ngIf="userType === 'administrator'" class="btn btn-outline-info ml-2" (click)="onExaminationsButtonClick()">Lista badań lekarskich</div>

</div>

</div>
